@import url(https://fonts.googleapis.com/css?family=Nunito);.v-application .primary {
  background-color: unset !important;
  border-color: unset !important;
}

.activity-timeline.timeline-left li .timeline-icon {
  left: -3.9rem;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.v-application {
  font-family: unset !important;
  line-height: unset !important;
  background: unset !important;
  color: unset !important;
}

.v-application .white,
.v-application .blue-grey,
.v-application .blue-grey.lighten-2,
.v-application .pink {
  background-color: unset;
  border-color: unset;
}

.v-application nav ol,
.v-application .main-menu ol,
.v-application nav ul,
.v-application .main-menu ul {
  padding: unset;
}

.v-application .v-list-item--active {
  color: #565656 !important;
}

.btn-md {
  padding: 10px 15px;
  border-radius: 4px;
}

.btn-primary {
  color: #fff !important;
}

.v-list .v-list-item--active .v-icon {
  color: rgba(0, 0, 0, 0.87) !important;
}

.v-list-group .v-list-group__header .v-list-item__icon.v-list-group__header__append-icon {
  min-width: 15px !important;
}

body {
  margin: 0;
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.45;
  color: #626262;
  text-align: left;
  background-color: #f8f8f8 !important;
}

.mx-0 {
  margin: 0px !important;
}

.py-1 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

#clock {
  position: relative;
  margin: 0px auto;
  width: 190px;
  height: 190px;
  border-radius: 50%;
  background: #eee;
  border: 0.2em solid #d0d0d0;
  box-shadow: 0 1.2em 0 -1em white, 0 -0.1em 0.3em 0 #fff, 0 0 0 0.6em #e7e7e7, 0 0.6em 1.2em 0 rgba(0, 0, 0, 0.5), inset 0 0.5em 1em 0 rgba(0, 0, 0, 0.3), inset 0 0 8em 0 rgba(0, 0, 0, 0.2);
}

#clock:after {
  display: block;
  content: "";
  position: absolute;
  height: inherit;
  width: inherit;
  background: transparent;
  top: 0;
  left: 0;
  border-radius: inherit;
  box-shadow: inset 12em 14em 0 -10em rgba(255, 255, 255, 0.25);
  z-index: 4;
}

#clock .hour {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 5px;
  height: 145px;
  background: transparent;
  box-shadow: 0 -1em 0 -0.1em #383838, 0 1em 0 -0.1em #383838;
  transform: rotate(30deg);
}

#clock .hour:after,
#clock .hour:before {
  display: block;
  content: "";
  position: absolute;
  height: inherit;
  width: inherit;
  background: inherit;
  box-shadow: inherit;
  -webkit-backface-visibility: inherit;
          backface-visibility: inherit;
}

#clock .hour:before {
  transform: rotate(30deg);
}

#clock .hour:after {
  transform: rotate(-30deg);
}

#clock .hour:nth-of-type(1) {
  transform: rotate(-60deg);
}

#clock .min {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 4px;
  height: 159px;
  background: transparent;
  box-shadow: 0 -0.6em 0 -0.1em #383838, 0 0.6em 0 -0.1em #383838;
  z-index: -1;
  transform: rotate(-54deg);
}

#clock .min:after,
#clock .min:before {
  display: block;
  content: "";
  position: absolute;
  height: inherit;
  width: inherit;
  background: inherit;
  box-shadow: inherit;
  -webkit-backface-visibility: inherit;
          backface-visibility: inherit;
  z-index: 0;
}

#clock .min:before {
  transform: rotate(6deg);
}

#clock .min:after {
  transform: rotate(12deg);
}

#clock .min:nth-child(2) {
  transform: rotate(-36deg);
}

#clock .min:nth-child(3) {
  transform: rotate(-18deg);
}

#clock .min:nth-child(4) {
  transform: rotate(6deg);
}

#clock .min:nth-child(5) {
  transform: rotate(24deg);
}

#sec {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: radial-gradient(ellipse at center, #ffd322 0%, #fbc900 100%);
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 0.14em solid #fbc900;
  z-index: 3;
}

#sec:before,
#sec:after {
  display: block;
  content: "";
  position: absolute;
}

#sec:before {
  background: #fbc900;
  width: 0.3em;
  height: 1.5em;
  top: 0.8em;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 0 0 2em 2em;
}

#sec:after {
  width: 0.18em;
  height: 5em;
  top: -5em;
  background: #fbc900;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#min,
#hour {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: #fbc900;
  transform-origin: bottom center;
}

#min {
  width: 5px;
  height: 4.6em;
  top: -4.6em;
  border-radius: 2em 2em 0 0;
  box-shadow: inset 0 0 0 0.1em #303030, inset 0 -2em 0 0 #303030, -0.2em -0.2em 0.4em 0 rgba(0, 0, 0, 0.2);
}

#hour {
  width: 6px;
  height: 3em;
  top: -3em;
  border-radius: 2em 2em 0 0;
  box-shadow: inset 0 0 0 0.1em #303030, inset 0 -2.2em 0 0 #303030, -0.2em -0.2em 0.4em 0 rgba(0, 0, 0, 0.2);
}

#time {
  line-height: 26px;
  font-size: 18px;
  text-align: center;
  position: absolute;
  box-shadow: 1px 2px 10px 3px rgba(31, 24, 21, 0.15), 1px 1px 0px 0px rgba(0, 0, 0, 0.43);
  background: linear-gradient(to bottom, rgba(51, 48, 40, 0.04) 0%, rgba(255, 255, 255, 0) 40%, rgba(78, 41, 41, 0.26) 60%, rgba(255, 255, 255, 0.15) 100%);
  border: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 95px;
  height: 24px;
  right: 0;
  left: 0;
  bottom: 25%;
  margin: 0 auto;
  color: #714C14;
}

#time:after {
  content: "";
  position: absolute;
  width: 95px;
  height: 24px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  box-shadow: inset 0 0 20px 0px white;
  transition: all 0.5s;
}

ol {
  position: relative;
  height: inherit;
  width: inherit;
  margin: 0;
  padding: 0;
}

ol li {
  counter-increment: customlistcounter;
  font-size: 1.4rem;
  display: inline-block;
  position: absolute;
  letter-spacing: -0.1em;
  color: #383838;
  text-align: center;
}

ol li:before {
  content: counter(customlistcounter) "";
}

ol li:nth-child(1),
ol li:nth-child(2),
ol li:nth-child(4),
ol li:nth-child(5),
ol li:nth-child(7),
ol li:nth-child(8),
ol li:nth-child(10),
ol li:nth-child(11) {
  font-size: 0;
}

ol li:nth-child(3) {
  top: 76px;
  right: 30px;
}

ol li:nth-child(9) {
  top: 75px;
  left: 22px;
}

ol li:nth-child(6) {
  bottom: 20px;
  left: 86px;
}

ol li:nth-child(12) {
  top: 14px;
  left: 80px;
}

.container .content-wrapper {
  margin-top: 115px;
}

.brand-logo {
  width: 200px;
}

.v-navigation-drawer {
  z-index: 999999 !important;
}

.v-navigation-drawer__content {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background: #285EC8;
  border-radius: 2px;
}

@media (max-width: 900px) {
  .login-box {
    max-width: 500px !important;
  }
}

